#special {
	margin-left: 10px;
	h1 {
		color: #140a32;
		font-family: OpenBold;
		font-size: 32px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		letter-spacing: -0.96px;
	}
	.yurist-left {
		margin-top: 30px;
		display: flex;
		flex-wrap: wrap;
		gap: 40px;
		.card-1 {
			div {
				display: flex;
				align-items: center;
				gap: 15px;
				margin-bottom: 10px;
				p {
					padding-bottom: 4px;
					border-bottom: 2px solid #33836e;
				}
			}
			display: flex;
			width: 560px;
			height: 287px;
			padding: 20px;
			flex-direction: column;
			align-items: flex-start;
			gap: 15px;
			flex-shrink: 0;
			border-radius: 20px;
			border: 1px solid rgba(47, 43, 67, 0.15);
			color: rgba(47, 43, 67, 0.7);
			font-family: OpenRegular;
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: 150%;
		}
		.card-2 {
			div {
				display: flex;
				align-items: center;
				gap: 15px;
				margin-bottom: 10px;
				p {
					padding-bottom: 4px;
					border-bottom: 2px solid #33836e;
				}
			}
			display: flex;
			width: 560px;
			height: 287px;
			padding: 20px;
			flex-direction: column;
			align-items: flex-start;
			gap: 15px;
			flex-shrink: 0;
			border-radius: 20px;
			border: 1px solid rgba(47, 43, 67, 0.15);
			color: rgba(47, 43, 67, 0.7);
			font-family: OpenRegular;
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: 150%;
		}
		.card-3 {
			div {
				display: flex;
				align-items: center;
				gap: 15px;
				margin-bottom: 10px;
				p {
					padding-bottom: 4px;
					border-bottom: 2px solid #33836e;
				}
			}
			display: flex;
			width: 560px;
			height: 287px;
			padding: 20px;
			flex-direction: column;
			align-items: flex-start;
			gap: 15px;
			flex-shrink: 0;
			border-radius: 20px;
			border: 1px solid rgba(47, 43, 67, 0.15);
			color: rgba(47, 43, 67, 0.7);
			font-family: OpenRegular;
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: 150%;
		}
		.card-4 {
			div {
				display: flex;
				align-items: center;
				gap: 15px;
				margin-bottom: 10px;
				p {
					padding-bottom: 4px;
					border-bottom: 2px solid #33836e;
				}
			}
			display: flex;
			width: 560px;
			height: 287px;
			padding: 20px;
			flex-direction: column;
			align-items: flex-start;
			gap: 15px;
			flex-shrink: 0;
			border-radius: 20px;
			border: 1px solid rgba(47, 43, 67, 0.15);
			color: rgba(47, 43, 67, 0.7);
			font-family: OpenRegular;
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: 150%;
		}
		.card-5 {
			div {
				display: flex;
				align-items: center;
				gap: 15px;
				margin-bottom: 10px;
				p {
					padding-bottom: 4px;
					border-bottom: 2px solid #33836e;
				}
			}
			display: flex;
			width: 560px;
			height: 287px;
			padding: 20px;
			flex-direction: column;
			align-items: flex-start;
			gap: 15px;
			flex-shrink: 0;
			border-radius: 20px;
			border: 1px solid rgba(47, 43, 67, 0.15);
			color: rgba(47, 43, 67, 0.7);
			font-family: OpenRegular;
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: 150%;
		}
		.card-6 {
			div {
				display: flex;
				align-items: center;
				gap: 15px;
				margin-bottom: 10px;
				p {
					padding-bottom: 4px;
					border-bottom: 2px solid #33836e;
				}
			}
			display: flex;
			width: 560px;
			height: 287px;
			padding: 20px;
			flex-direction: column;
			align-items: flex-start;
			gap: 15px;
			flex-shrink: 0;
			border-radius: 20px;
			border: 1px solid rgba(47, 43, 67, 0.15);
			color: rgba(47, 43, 67, 0.7);
			font-family: OpenRegular;
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: 150%;
		}
		.card-7 {
			div {
				display: flex;
				align-items: center;
				gap: 15px;
				margin-bottom: 10px;
				p {
					padding-bottom: 4px;
					border-bottom: 2px solid #33836e;
				}
			}
			display: flex;
			width: 560px;
			height: 287px;
			padding: 20px;
			flex-direction: column;
			align-items: flex-start;
			gap: 15px;
			flex-shrink: 0;
			border-radius: 20px;
			border: 1px solid rgba(47, 43, 67, 0.15);
			color: rgba(47, 43, 67, 0.7);
			font-family: OpenRegular;
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: 150%;
		}
		.card-8 {
			div {
				display: flex;
				align-items: center;
				gap: 15px;
				margin-bottom: 10px;
				p {
					padding-bottom: 4px;
					border-bottom: 2px solid #33836e;
				}
			}
			display: flex;
			width: 560px;
			height: 287px;
			padding: 20px;
			flex-direction: column;
			align-items: flex-start;
			gap: 15px;
			flex-shrink: 0;
			border-radius: 20px;
			border: 1px solid rgba(47, 43, 67, 0.15);
			color: rgba(47, 43, 67, 0.7);
			font-family: OpenRegular;
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: 150%;
		}
	}
}

@media only screen and (max-width: 428px) {
	#special {
		margin-left: 10px;

		h1 {
			color: #140a32;
			font-family: OpenBold;
			font-size: 32px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			letter-spacing: -0.96px;
		}
		.yurist-left {
			margin-top: 30px;
			display: flex;
			flex-wrap: nowrap;
			overflow: scroll;
			gap: 40px;
			.card-1 {
				div {
					display: flex;
					align-items: center;
					gap: 15px;
					margin-bottom: 10px;
					p {
						padding-bottom: 4px;
						border-bottom: 2px solid #33836e;
					}
				}
				display: flex;
				width: 319px;
				height: 344px;
				padding: 20px;
				flex-direction: column;
				align-items: flex-start;
				gap: 15px;
				flex-shrink: 0;
				border-radius: 20px;
				border: 1px solid rgba(47, 43, 67, 0.15);
				color: rgba(47, 43, 67, 0.7);
				font-family: OpenRegular;
				font-size: 14px;
				font-style: normal;
				font-weight: 400;
				line-height: 150%;
			}
			.card-2 {
				div {
					display: flex;
					align-items: center;
					gap: 15px;
					margin-bottom: 10px;
					p {
						padding-bottom: 4px;
						border-bottom: 2px solid #33836e;
					}
				}
				display: flex;
				width: 319px;
				height: 344px;
				padding: 20px;
				flex-direction: column;
				align-items: flex-start;
				gap: 15px;
				flex-shrink: 0;
				border-radius: 20px;
				border: 1px solid rgba(47, 43, 67, 0.15);
				color: rgba(47, 43, 67, 0.7);
				font-family: OpenRegular;
				font-size: 14px;
				font-style: normal;
				font-weight: 400;
				line-height: 150%;
			}
			.card-3 {
				div {
					display: flex;
					align-items: center;
					gap: 15px;
					margin-bottom: 10px;
					p {
						padding-bottom: 4px;
						border-bottom: 2px solid #33836e;
					}
				}
				display: flex;
				width: 319px;
				height: 344px;
				padding: 20px;
				flex-direction: column;
				align-items: flex-start;
				gap: 15px;
				flex-shrink: 0;
				border-radius: 20px;
				border: 1px solid rgba(47, 43, 67, 0.15);
				color: rgba(47, 43, 67, 0.7);
				font-family: OpenRegular;
				font-size: 14px;
				font-style: normal;
				font-weight: 400;
				line-height: 150%;
			}
			.card-4 {
				div {
					display: flex;
					align-items: center;
					gap: 15px;
					margin-bottom: 10px;
					p {
						padding-bottom: 4px;
						border-bottom: 2px solid #33836e;
					}
				}
				display: flex;
				width: 319px;
				height: 344px;
				padding: 20px;
				flex-direction: column;
				align-items: flex-start;
				gap: 15px;
				flex-shrink: 0;
				border-radius: 20px;
				border: 1px solid rgba(47, 43, 67, 0.15);
				color: rgba(47, 43, 67, 0.7);
				font-family: OpenRegular;
				font-size: 14px;
				font-style: normal;
				font-weight: 400;
				line-height: 150%;
			}
			.card-5 {
				div {
					display: flex;
					align-items: center;
					gap: 15px;
					margin-bottom: 10px;
					p {
						padding-bottom: 4px;
						border-bottom: 2px solid #33836e;
					}
				}
				display: flex;
				width: 319px;
				height: 344px;
				padding: 20px;
				flex-direction: column;
				align-items: flex-start;
				gap: 15px;
				flex-shrink: 0;
				border-radius: 20px;
				border: 1px solid rgba(47, 43, 67, 0.15);
				color: rgba(47, 43, 67, 0.7);
				font-family: OpenRegular;
				font-size: 14px;
				font-style: normal;
				font-weight: 400;
				line-height: 150%;
			}
			.card-6 {
				div {
					display: flex;
					align-items: center;
					gap: 15px;
					margin-bottom: 10px;
					p {
						padding-bottom: 4px;
						border-bottom: 2px solid #33836e;
					}
				}
				display: flex;
				width: 319px;
				height: 344px;
				padding: 20px;
				flex-direction: column;
				align-items: flex-start;
				gap: 15px;
				flex-shrink: 0;
				border-radius: 20px;
				border: 1px solid rgba(47, 43, 67, 0.15);
				color: rgba(47, 43, 67, 0.7);
				font-family: OpenRegular;
				font-size: 14px;
				font-style: normal;
				font-weight: 400;
				line-height: 150%;
			}
			.card-7 {
				div {
					display: flex;
					align-items: center;
					gap: 15px;
					margin-bottom: 10px;
					p {
						padding-bottom: 4px;
						border-bottom: 2px solid #33836e;
					}
				}
				display: flex;
				width: 319px;
				height: 344px;
				padding: 20px;
				flex-direction: column;
				align-items: flex-start;
				gap: 15px;
				flex-shrink: 0;
				border-radius: 20px;
				border: 1px solid rgba(47, 43, 67, 0.15);
				color: rgba(47, 43, 67, 0.7);
				font-family: OpenRegular;
				font-size: 14px;
				font-style: normal;
				font-weight: 400;
				line-height: 150%;
			}
			.card-8 {
				div {
					display: flex;
					align-items: center;
					gap: 15px;
					margin-bottom: 10px;
					p {
						padding-bottom: 4px;
						border-bottom: 2px solid #33836e;
					}
				}
				display: flex;
				width: 319px;
				height: 344px;
				padding: 20px;
				flex-direction: column;
				align-items: flex-start;
				gap: 15px;
				flex-shrink: 0;
				border-radius: 20px;
				border: 1px solid rgba(47, 43, 67, 0.15);
				color: rgba(47, 43, 67, 0.7);
				font-family: OpenRegular;
				font-size: 14px;
				font-style: normal;
				font-weight: 400;
				line-height: 150%;
			}
		}
	}
}

@media only screen and (max-width: 390px) {
	#special {
		margin-left: 10px;

		h1 {
			color: #140a32;
			font-family: OpenBold;
			font-size: 32px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			letter-spacing: -0.96px;
		}
		.yurist-left {
			margin-top: 30px;
			display: flex;
			flex-wrap: nowrap;
			overflow: scroll;
			gap: 40px;
			.card-1 {
				div {
					display: flex;
					align-items: center;
					gap: 15px;
					margin-bottom: 10px;
					p {
						padding-bottom: 4px;
						border-bottom: 2px solid #33836e;
					}
				}
				display: flex;
				width: 319px;
				height: 344px;
				padding: 20px;
				flex-direction: column;
				align-items: flex-start;
				gap: 15px;
				flex-shrink: 0;
				border-radius: 20px;
				border: 1px solid rgba(47, 43, 67, 0.15);
				color: rgba(47, 43, 67, 0.7);
				font-family: OpenRegular;
				font-size: 14px;
				font-style: normal;
				font-weight: 400;
				line-height: 150%;
			}
			.card-2 {
				div {
					display: flex;
					align-items: center;
					gap: 15px;
					margin-bottom: 10px;
					p {
						padding-bottom: 4px;
						border-bottom: 2px solid #33836e;
					}
				}
				display: flex;
				width: 319px;
				height: 344px;
				padding: 20px;
				flex-direction: column;
				align-items: flex-start;
				gap: 15px;
				flex-shrink: 0;
				border-radius: 20px;
				border: 1px solid rgba(47, 43, 67, 0.15);
				color: rgba(47, 43, 67, 0.7);
				font-family: OpenRegular;
				font-size: 14px;
				font-style: normal;
				font-weight: 400;
				line-height: 150%;
			}
			.card-3 {
				div {
					display: flex;
					align-items: center;
					gap: 15px;
					margin-bottom: 10px;
					p {
						padding-bottom: 4px;
						border-bottom: 2px solid #33836e;
					}
				}
				display: flex;
				width: 319px;
				height: 344px;
				padding: 20px;
				flex-direction: column;
				align-items: flex-start;
				gap: 15px;
				flex-shrink: 0;
				border-radius: 20px;
				border: 1px solid rgba(47, 43, 67, 0.15);
				color: rgba(47, 43, 67, 0.7);
				font-family: OpenRegular;
				font-size: 14px;
				font-style: normal;
				font-weight: 400;
				line-height: 150%;
			}
			.card-4 {
				div {
					display: flex;
					align-items: center;
					gap: 15px;
					margin-bottom: 10px;
					p {
						padding-bottom: 4px;
						border-bottom: 2px solid #33836e;
					}
				}
				display: flex;
				width: 319px;
				height: 344px;
				padding: 20px;
				flex-direction: column;
				align-items: flex-start;
				gap: 15px;
				flex-shrink: 0;
				border-radius: 20px;
				border: 1px solid rgba(47, 43, 67, 0.15);
				color: rgba(47, 43, 67, 0.7);
				font-family: OpenRegular;
				font-size: 14px;
				font-style: normal;
				font-weight: 400;
				line-height: 150%;
			}
			.card-5 {
				div {
					display: flex;
					align-items: center;
					gap: 15px;
					margin-bottom: 10px;
					p {
						padding-bottom: 4px;
						border-bottom: 2px solid #33836e;
					}
				}
				display: flex;
				width: 319px;
				height: 344px;
				padding: 20px;
				flex-direction: column;
				align-items: flex-start;
				gap: 15px;
				flex-shrink: 0;
				border-radius: 20px;
				border: 1px solid rgba(47, 43, 67, 0.15);
				color: rgba(47, 43, 67, 0.7);
				font-family: OpenRegular;
				font-size: 14px;
				font-style: normal;
				font-weight: 400;
				line-height: 150%;
			}
			.card-6 {
				div {
					display: flex;
					align-items: center;
					gap: 15px;
					margin-bottom: 10px;
					p {
						padding-bottom: 4px;
						border-bottom: 2px solid #33836e;
					}
				}
				display: flex;
				width: 319px;
				height: 344px;
				padding: 20px;
				flex-direction: column;
				align-items: flex-start;
				gap: 15px;
				flex-shrink: 0;
				border-radius: 20px;
				border: 1px solid rgba(47, 43, 67, 0.15);
				color: rgba(47, 43, 67, 0.7);
				font-family: OpenRegular;
				font-size: 14px;
				font-style: normal;
				font-weight: 400;
				line-height: 150%;
			}
			.card-7 {
				div {
					display: flex;
					align-items: center;
					gap: 15px;
					margin-bottom: 10px;
					p {
						padding-bottom: 4px;
						border-bottom: 2px solid #33836e;
					}
				}
				display: flex;
				width: 319px;
				height: 344px;
				padding: 20px;
				flex-direction: column;
				align-items: flex-start;
				gap: 15px;
				flex-shrink: 0;
				border-radius: 20px;
				border: 1px solid rgba(47, 43, 67, 0.15);
				color: rgba(47, 43, 67, 0.7);
				font-family: OpenRegular;
				font-size: 14px;
				font-style: normal;
				font-weight: 400;
				line-height: 150%;
			}
			.card-8 {
				div {
					display: flex;
					align-items: center;
					gap: 15px;
					margin-bottom: 10px;
					p {
						padding-bottom: 4px;
						border-bottom: 2px solid #33836e;
					}
				}
				display: flex;
				width: 319px;
				height: 344px;
				padding: 20px;
				flex-direction: column;
				align-items: flex-start;
				gap: 15px;
				flex-shrink: 0;
				border-radius: 20px;
				border: 1px solid rgba(47, 43, 67, 0.15);
				color: rgba(47, 43, 67, 0.7);
				font-family: OpenRegular;
				font-size: 14px;
				font-style: normal;
				font-weight: 400;
				line-height: 150%;
			}
		}
	}
}